*{
	margin: 0;
	padding: 0;
}
/* body { 
	font-family:"微软雅黑"; 
	font-size:16px; 
	color: #673929;
} */
#container {
	margin:0 auto; 
	width:3270px; 	
}
#header { 
	height:278px;/*必须添加，否则header下面有10px而不是5px空白*/
	margin-bottom:5px;
	position:relative; /*父层定位*/
}


#select{ 
	height:30px;	
	margin-bottom:5px;		
	font: 20px/50px 微软雅黑;
	letter-spacing: 2px;
    text-align: left;
}
select{       
    height: 40px;
    padding: 5px;
    background-color:#ececec;
    border: 0;
    outline: none;
    font-size: 18px;       
    width: 140px;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#select:after {
    content:"▼";    
    padding: 12px 8px;
    position: absolute; right: 10px; top: 0;    
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}
.selectbutton{
font: normal 18px arial, sans-serif;
height: 30px;
text-align: center;
margin-right: 10px;
padding-left: 10px;
padding-right: 10px; 
text-decoration: none;
}
#select p{
	font: 18px;
	margin-left:90px;
} 
#nav{ 
	height:30px;	
	margin-bottom:5px;
	background:rgb(91, 96, 97); 		
	font: 18px/30px 微软雅黑;
	color: #fff;
	letter-spacing: 2px;
    text-align: center;
}
a:link{
	color: #fff;
	text-decoration: none;
}
a:visited{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: yellow;
	text-decoration: none;
}
a:active{
	color: #fff;
	text-decoration: none;
}
/* #main{ 
	background:red; 
} */
#aside { 
	float:left; 
	width:1265px; 
	/* background:rgb(247, 251, 217); */
	/* text-align: center; */
	font-size: 14px;
	margin-bottom:50px; 
	color: #000;
	/* background-image:url("rbftest2.png");
	background-repeat:no-repeat;
	background-size:100% 100%; */
}
#aside h2{
	margin: 20px;
	margin-left:90px; 
}

#content{ 
	float:left; 
	width:1000px; 
	margin-bottom:5px;
	margin-left:5px;
	/* background:#cff; */
	font-size: 14px;
	color: #000;
}
#content h2{
	margin: 20px;
}

#footer { 
	height:60px; 
	line-height: 60px;
	background:#6cf;
	clear:both; /*新加代码*/
	margin-top: 5px;
	text-align: center;
}
p.select {
    font:12px sans-serif;
    font-weight: bold;
  }
  
  option.select,
  select {
    font:11px sans-serif;
  }
  
  .background {
    fill: #eee;
  }
  
  line {
    stroke: #fff;
  }
  
  text.active {
    font-weight: bold;
    fill: red;
  }
  
  .column,
  .row {
    font:10px sans-serif; 
  }
  
  .legend {
    font:11px sans-serif;
    font-weight: bold;
  }
  
  .link {
    stroke: #999;
    stroke-opacity: .6;
  }
  
  .cell {
    fill: none;
    stroke: grey;
  }
  
  .center {
    margin: auto;
    width: 75%;
    font:14px sans-serif;
    /* //border: 3px solid #73AD21; */
    padding: 50px;
  }
  
  h4 { 
  /*  margin:0;
    top:0;
    right:0;
    bottom:0;
    left:0; */
    font:10px sans-serif; 
  /* // min-width: 600px; */
  }
  
#setview
{
	float:left; 
}
